<h1>The Stores of Lower Manhattan</h1>

  <p>Search for a store, save it, then <strong><i>refresh the page</i></strong></p>
  <button id="button">Search</button>
  <select name="" id="selectBox">
    <option value="">Make a selection</option>
    <option value="Nightlife">Nightlife</option>
    <option value="Shopping">Shopping</option>
    <option value="Personal and Professional Services">Personal and Professional Services</option>
    <option value="Full Service Dining">Full Service Dining</option>
    <option value="Visitor Services">Visitor Services</option>
  </select>
<!-- <p class="left">Search</p>
<p class="right">My Stores</p> -->

<div class="results"></div>
<div class="myShop"></div>
