<h1>The Stores of Lower Manhattan</h1>
<p>Search what you want</p>
<button id="button">Search</button>
<select name="" id="selectBox">
  <option value="">Make a selection</option>
  <option value="nightlife">Nightlife</option>
  <option value="shopping">Shopping</option>
  <option value="personal_and_professional_services">Personal and Professional Services</option>
  <option value="full_sevice_dining">Full Sevice Dining</option>

</select>
<div class="results"></div>
